<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Farm_Direct_Marketing</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UploadFarmerRegister</display-name>
    <servlet-name>UploadFarmerRegister</servlet-name>
    <servlet-class>com.ram.javabrains.UploadFarmerRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFarmerRegister</servlet-name>
    <url-pattern>/UploadFarmerRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadVendorRegister</display-name>
    <servlet-name>UploadVendorRegister</servlet-name>
    <servlet-class>com.ram.javabrains.UploadVendorRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadVendorRegister</servlet-name>
    <url-pattern>/UploadVendorRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckfSignIn</display-name>
    <servlet-name>CheckfSignIn</servlet-name>
    <servlet-class>com.ram.javabrains.CheckfSignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckfSignIn</servlet-name>
    <url-pattern>/CheckfSignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayFarmerPhoto</display-name>
    <servlet-name>DisplayFarmerPhoto</servlet-name>
    <servlet-class>com.ram.javabrains.DisplayFarmerPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayFarmerPhoto</servlet-name>
    <url-pattern>/DisplayFarmerPhoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFarmProduct</display-name>
    <servlet-name>AddFarmProduct</servlet-name>
    <servlet-class>com.ram.javabrains.AddFarmProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFarmProduct</servlet-name>
    <url-pattern>/AddFarmProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayProductImage</display-name>
    <servlet-name>DisplayProductImage</servlet-name>
    <servlet-class>com.ram.javabrains.DisplayProductImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayProductImage</servlet-name>
    <url-pattern>/DisplayProductImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProduct</display-name>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>com.ram.javabrains.DeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckVSignIn</display-name>
    <servlet-name>CheckVSignIn</servlet-name>
    <servlet-class>com.ram.javabrains.CheckVSignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckVSignIn</servlet-name>
    <url-pattern>/CheckVSignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayVendorPhoto</display-name>
    <servlet-name>DisplayVendorPhoto</servlet-name>
    <servlet-class>com.ram.javabrains.DisplayVendorPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayVendorPhoto</servlet-name>
    <url-pattern>/DisplayVendorPhoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SentMessage</display-name>
    <servlet-name>SentMessage</servlet-name>
    <servlet-class>com.ram.javabrains.SentMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SentMessage</servlet-name>
    <url-pattern>/SentMessage</url-pattern>
  </servlet-mapping>
</web-app>